<%= render 'layouts/nav' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
  <!--     <h1>Welcome, <%= @user.first_name %></h1> -->
      <br>
      <div class="row">
        <div class="col-sm-3 col-xs-12 well" style="text-align:center">
          <br>
          <div class="profile-image"><%= image_tag "generic_avatar.png", height: '100', width: '100', class: 'img-circle' %>
          </div>
          <br>
          <address>
            <strong><%= @user.full_name %></strong><br>
            <%= @user.email %>
          </address>
        
        </div>
        <div class="col-sm-9 col-xs-12">
          <% if @user.resources.any? %>
          <center><h3><i class="fa fa-bookmark"></i>&nbsp;My Bookmarks</h3></center>
            <% @user.resources.each do |resource| %>
              <div class="row">
                <div class="col-xs-2">
                  <div class="thumbnail resource"><img src="<%= resource.image %>" class="logo"></div>
                </div>
                <div class="col-xs-10">
                  <h3 style="font-size:20px">
                    <a href="/resources/<%= resource.name %>"><%= resource.name %></a> 
                    <small> &nbsp;&nbsp;<a href="<%= resource.website %>", target="_blank"><i class="fa fa-external-link"></i></a>
                      &nbsp;
                      <% if current_user %>
                        <a href="javascript:void(0)" class="bookmark" data-id="<%= resource.id %>">
                         <% if current_user.resources.include?(resource) %>
                            <i class="fa fa-bookmark"></i>
                         <% else %>
                            <i class="fa fa-bookmark-o"></i>
                         <% end %> 
                        </a>
                      <% end %>
                      <span class="pull-right">
                        <!-- comments -->
                        <a href="/resources/<%= resource.name %>#comments-section">
                        <% if resource.comments.count == 1 %>
                          <i class="fa fa-commenting"></i> <%= resource.comments.length %> comment 
                        <% elsif resource.comments.length < 1 %>
                          <i class="fa fa-commenting-o"></i>&nbsp; No comments yet
                        <% elsif resource.comments.length > 1 %>
                          <i class="fa fa-commenting"></i> <%= resource.comments.length %> comments
                        <% end %>
                        </a>
                        &nbsp; &nbsp;
                        <!-- endorsements -->
                        <% if current_user %>
                          <a href="javascript:void(0)" class="endorsement" data-id="<%= resource.id %>">
                            <% if current_user.endorsements.exists?(:resource_id=>resource.id) %>
                              <i class="fa fa-thumbs-up"></i>
                            <% else %>
                              <i class="fa fa-thumbs-o-up"></i> 
                            <% end %>
                          </a>
                        <% else %>
                          <i class="fa fa-users"></i> &nbsp;
                        <% end %>
                        <span class="endorsement-count"><%= resource.endorsements.count %> </span>
                        <% if resource.endorsements.count == 1 %>
                          person uses it
                        <% else %>
                          people use it
                        <% end %>
                      </span>
                    </small>
                  </h3>  
                  <p><strong>Price: </strong><%= resource.price %></p>
                  <p class="line-spacing"><% resource.tags.each do |tag| %>
                      <span class="btn btn-default btn-xs">
                        <a href="/tags/<%= tag.text %>">
                          <i class="fa <%= tag.image %>"></i>
                          &nbsp;<%= tag.text %> 
                        </a>
                      </span>
                      &nbsp;&nbsp;&nbsp;
                     <% end %>
                  </p>
                  <p><%= resource.description %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <p><i class="fa fa-bookmark-o"></i>&nbsp;You don't have any resources bookmarked yet! <%= link_to "Start exploring", resources_path %> </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>