<%= render 'layouts/nav' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome, <%= @user.first_name %></h1>
      <br>
      <div class="row">
        <div class="col-sm-3 col-xs-12 well" style="text-align:center">
          <br>
          <div class="profile-image"><%= image_tag "generic_avatar.png", height: '100', width: '100', class: 'img-circle' %>
          </div>
          <br>
          <address>
            <strong><%= @user.full_name %></strong><br>
            <%= @user.email %>
          </address>
          <%= link_to "Edit Profile", edit_profile_path %>
        </div>
        <div class="col-sm-9 col-xs-12">
          <% if @user.resources.any? %>
            <% @user.resources.each do |resource| %>
              <div class="row">
                <div class="col-xs-2">
                  <div class="thumbnail resource"><img src="<%= resource.image %>" class="logo"></div>
                </div>
                <div class="col-xs-10">
                  <h3 style="font-size:20px">
                    <a href="/resources/<%= resource.name %>"><%= resource.name %></a> 
                    <small> &nbsp;&nbsp;<a href="<%= resource.website %>", target="_blank"><i class="fa fa-external-link"></i></a><span class="pull-right"><i class="fa fa-thumbs-up"> 3 people use it</i></span></small>
                  </h3>  
                  <p><strong>Price: </strong><%= resource.price %></p>
                  <p class="line-spacing"><% resource.tags.each do |tag| %>
                      <span class="btn btn-default btn-xs">
                        <a href="/tags/<%= tag.text %>">
                          <i class="fa <%= tag.image %>"></i>
                          &nbsp;<%= tag.text %> 
                        </a>
                      </span>
                      &nbsp;&nbsp;&nbsp;
                     <% end %>
                  </p>
                  <p><%= resource.description %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>You don't have any resources bookmarked yet! <%= link_to "Start exploring", resources_path %> </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>