<%= render 'layouts/nav' %>

<div class ="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="section-heading">About Scope</h1>
      <p>Scope's mission is to make learning easier. As you set out to learn a new programming-related skill and are unsure of where to start, Scope wants to simplify the research process by bringing a lot of different information to one place. Scope users can leave comments to help others as they begin their search for new skills.</p>
      <p>Created by <a href="http://www.zoefoss.com" target="_blank">Zo&euml; Foss</a> &copy; 2015</p>      
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 well" style="text-align:center">
      <h3><i class="fa fa-binoculars"></i> Suggest A Resource <br><small>Our goal is to make LearningHub the most up-to-date collection of learning tools. Please tell us if you think there is something we missed!</small></h3>
      <br>
      <%= form_for @message do |f| %>
        <div class="form-group">
            <%= f.text_field :name, placeholder: "Resource Name", autofocus: true, :required => true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :website, placeholder: "Website", :required => true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Describe the Resource" %>
            <%= f.text_area :description, placeholder: "example: 'Udacity offers Nanodegree programs and credentials, designed so professionals become Web Developers, Data Analysts, Mobile Developers, etc. Students acquire real skills through a series of online courses and hands-on projects.'", cols: "60", rows: "4", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :tags, "Suggested Tags" %>
            <%= f.text_area :tags, placeholder: "example: Free, Professional Teachers, Ruby, Javascript... or other tags that don't yet exist", cols: "60", rows: "4", class: "form-control" %>
          </div>
          <div class="form-group">
            <center><%= f.submit "Send Suggestion", class: "btn btn-default text-center" %></center>
          </div>
      <% end %>
    </div>
  </div>
</div>
