<div id="background-photo">
  <nav class="navbar navbar-default homepage">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="navbar-brand" href="#"> <%= image_tag "BinocularsLogo.png", id:"brand-logo" %> Scope</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-navicon"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if current_user %>
                <li><%= link_to "Profile", profile_path %></li>
                <li><%= link_to "Log Out", logout_path %></li>
              <% else %>
                <li><%= link_to "Sign Up", signup_path %></li>
                <li><%= link_to "Log In", login_path %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "About Scope", about_path %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="welcome-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <br>
          <br>
          <br>
          <div class="headline">
            <p style="font-size:40px">Learning to code is hard enough. Don't spend all of your time trying to find the right resources.</p>
            <br>
            <p class="grey-color"style="font-size:30px">Scope helps you find the right tools to meet your goals.</p>
            <br>
            <br>
            <span class="btn btn-default btn-lg" id="start"><a href="#tags-section">Start exploring</a></span>
          </div>
          <br>
        </div>
      </div> 
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div><!-- end of welcome section -->
</div><!-- end of background image -->
<div id="tags-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <br>
        <span class="section-heading"><h1>Popular Searches</h1></span>
        <br>
        <div class="row">
          <% @tags.each do |tag| %>
            <div class="col-sm-3 col-xs-6">
              <!-- <div class=""> -->
                <%= link_to(tag_path(tag)) do %>
                  <div class="thumbnail tag tag-container">
                    <div class="tag-content">
                      <i class="fa <%= tag.image %>"></i>
                      <br>
                      <%= tag.text %>
                    </div>
                  </div>
                <% end %>
              <!-- </div> -->
            </div>
          <% end  %>
        </div>
        <br>
        <br>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div> <!-- end of tags section -->
<div id="resources-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <br>
        <span class="section-heading"><h1>Popular Learning Resources</h1></span>
          <% @resources.limit(5).each do |resource| %>
            <div class="row">
              <div class="col-xs-2">
                <div class="thumbnail resource"><img src="<%= resource.image %>" class="logo"></div>
              </div>
              <div class="col-xs-10">
               <h3 style="font-size:20px">
                  <a href="/resources/<%= resource.name %>"><%= resource.name %></a> 
                  <small> &nbsp;&nbsp;<a href="<%= resource.website %>", target="_blank"><i class="fa fa-external-link"></i></a>
                    <% if current_user %>
                      <a href="javascript:void(0)" class="bookmark" data-id="<%= resource.id %>">
                       <% if current_user.resources.include?(resource) %>
                          <i class="fa fa-bookmark"></i>
                       <% else %>
                          <i class="fa fa-bookmark-o"></i>
                       <% end %> 
                      </a>
                    <% end %>
                    <span class="pull-right"><i class="fa fa-thumbs-up"> 3 people use it</i></span>
                  </small>
                </h3> 
                <p><strong>Price: </strong><%= resource.price %></p>
                <p class="line-spacing">
                  <% resource.tags.each do |tag| %>
                    <span class="btn btn-default btn-xs">
                      <%= link_to(tag_path(tag)) do %>
                        <i class="fa <%= tag.image %>"></i>
                        &nbsp;<%= tag.text %> 
                      <% end %>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                   <% end %>
                </p>
                <p><%= resource.description %></p>
              </div>
            </div>
            <br>
        <% end %>
        <center>Want to learn more? <%= link_to "See all Resources.", resources_path %></center>
    </div>
  </div>
  <br>
  <br>
</div>  <!-- end of resources section -->
