<%= render 'layouts/nav' %>
<div id="resources-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <br>
        <span class="section-heading"><h1>Learning Resources</h1></span>
        <% @resources.each do |resource| %>
            <div class="row">
              <div class="col-xs-2">
                <div class="thumbnail resource"><img src="<%= resource.image %>" class="logo"></div>
              </div>
              <div class="col-xs-10">
                <h3 style="font-size:20px"><a href="/resources/<%= resource.name %>"><%= resource.name %></a> &nbsp;&nbsp;
                  <small>
                    <a href="<%= resource.website %>", target="_blank"><i class="fa fa-external-link"></i></a>&nbsp;
                    <% if current_user %>
                      <a href="javascript:void(0)" class="bookmark" data-id="<%= resource.id %>">
                       <% if current_user.resources.include?(resource) %>
                          <i class="fa fa-bookmark"></i>
                       <% else %>
                          <i class="fa fa-bookmark-o"></i>
                       <% end %> 
                      </a>
                    <% end %>
                    <span class="pull-right">
                      <% if current_user %>
                        <a href="javascript:void(0)" class="endorsement" data-id="<%= resource.id %>">
                          <% if current_user.endorsements.exists?(:resource_id=>resource.id) %>
                            <i class="fa fa-thumbs-up"></i>
                          <% else %>
                            <i class="fa fa-thumbs-o-up"></i> 
                          <% end %>
                        </a>
                      <% else %>
                        <i class="fa fa-users"></i> &nbsp;
                      <% end %>
                      <span class="endorsement-count"><%= resource.endorsements.count %> </span>
                      <% if resource.endorsements.count == 1 %>
                        person uses it
                      <% else %>
                        people use it
                      <% end %>
                    </span>
                  </small>
                </h3> 
                <p><strong>Price: </strong><%= resource.price %></p>
                <p class="line-spacing"><% resource.tags.each do |tag| %>
                    <span class="btn btn-default btn-xs">
                      <a href="/tags/<%= tag.text %>">
                        <i class="fa <%= tag.image %>"></i>
                        &nbsp;<%= tag.text %> 
                      </a>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                   <% end %>
                </p>
                <p><%= resource.description %></p>
              </div>
            </div>
            <br>
        <% end %>
        </div>
    </div>
  </div> 
</div>  <!-- end of resources section -->
