<%= render 'layouts/nav' %>
<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 well">
      <%= form_for @resource do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Resource Name", autofocus: true, :required => true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :website, placeholder: "Website", :required => true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :price, placeholder: "Price", :required => true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :image, placeholder: "Image Url", :required => true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "example: 'Udacity offers Nanodegree programs and credentials, designed so professionals become Web Developers, Data Analysts, Mobile Developers, etc. Students acquire real skills through a series of online courses and hands-on projects.'", cols: "60", rows: "4", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="tag-checkboxes"> Add Tags To This Resource</label> <br>
          <% @tags.each do |tag| %>
            <div class="col-xs-6">
              <div class="thumbnail">
                <%= check_box_tag "tag_ids[]", tag.id %>
                <%= tag.text %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="form-group">
        <%= f.submit "Save", class: "btn btn-info text-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
