<%= render 'layouts/nav' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-9 col-xs-7">
          <div id="resource-heading">
            <img src="<%= @resource.image %>" class="logo-sm"> &nbsp;
            <span class="resource-heading-text"><a href="/resources/<%= @resource.name %>"><%= @resource.name %></a></span>
          </div>
          <br>
          <br>
          <p class="line-spacing"><% @resource.tags.each do |tag| %>
              <span class="btn btn-default btn-xs">
                <a href="/tags/<%= tag.text %>">
                  <i class="fa <%= tag.image %>"></i>
                  &nbsp;<%= tag.text %> 
                </a>
              </span>
              &nbsp;&nbsp;&nbsp;
             <% end %>
          </p>
        </div>
        <div class="col-sm-3 col-xs-5">
          <div class="thumbnail well" style="text-align:center">
            <!-- endorsements -->
            <% if current_user %>
              <a href="javascript:void(0)" class="endorsement" data-id="<%= @resource.id %>">
                <% if current_user.endorsements.exists?(:resource_id=>@resource.id) %>
                  <i class="fa fa-thumbs-up"></i>&nbsp;
                <% else %>
                  <i class="fa fa-thumbs-o-up"></i>&nbsp; 
                <% end %>
              </a>
            <% else %>
              <i class="fa fa-users"></i> &nbsp;
            <% end %>
            <span class="endorsement-count"><%= @resource.endorsements.count %> </span>
            <% if @resource.endorsements.count == 1 %>
              person uses it
            <% else %>
              people use it
            <% end %>
            <!-- end of endorsements logic -->
            <br>
            <!-- external link to web site -->
            <a href="<%= @resource.website %>", target="_blank"><i class="fa fa-external-link"></i> &nbsp; Visit Website</a>
            <!-- bookmarks -->
            <% if current_user %>
            <br>
              <a href="javascript:void(0)" class="bookmark" data-id="<%= @resource.id %>">
               <% if current_user.resources.include?(@resource) %>
                  <i class="fa fa-bookmark"></i>&nbsp;&nbsp;Bookmarked
               <% else %>
                  <i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Bookmark
               <% end %> 
              </a>
            <% end %>
            <br>
            <!-- comments -->
            <i class="fa fa-commenting"></i> 2 comments <br><br>
            <p><strong>Price: </strong><%= @resource.price %></p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><%= @resource.description %></p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h4 style="color:#1B7AA9">What are people saying about <%= @resource.name %> <small class="pull-right"><button class="btn btn-default">Add A Comment</button></small></h4>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <p><strong>This is the tile</strong></p>
          <p>by User Name</p>
          <p>Mumblecore artisan Marfa sriracha, trust fund Pinterest small batch typewriter American Apparel authentic tote bag lumbersexual pork belly. Normcore crucifix actually farm-to-table PBR, pop-up disrupt bicycle rights cred. High Life sustainable butcher cray trust fund. Mixtape chillwave Vice, leggings wolf lomo seitan quinoa banjo migas hella.</p>
          <hr>
          <br>
        </div>
      </div>
      <div class="row">
       <div class="col-xs-12">
         <p><strong>This is the tile</strong></p>
         <p>by User Name</p>
         <p>Mumblecore artisan Marfa sriracha, trust fund Pinterest small batch typewriter American Apparel authentic tote bag lumbersexual pork belly. Normcore crucifix actually farm-to-table PBR, pop-up disrupt bicycle rights cred. High Life sustainable butcher cray trust fund. Mixtape chillwave Vice, leggings wolf lomo seitan quinoa banjo migas hella.</p>
         <hr>
         <br>
       </div>
      </div>
       
    </div>

  </div>
</div>